*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
    
   
}
.scores{
   
  display: flex;
    flex-direction: row;
    column-gap:50vh;
    margin: 1vh;
    font-size: 5vh;
    font-family: "Arvo", serif;


}
.board{
    height: 88vh;
    width: 88vh;
    background-color: rgb(3, 63, 63);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border: 20px solid rgb(171, 112, 10);
   
}
.snake{
    background-color: rgb(109, 167, 167);
}
.food{
    background-color: whitesmoke
}